# Typically, place in your /lib/systemd/system/ folder and sudo systemctl enable runner.service
[Unit]
Description=RapidCronRunner

[Service]
TimeoutStartSec=0
TimeoutStopSec=600
Restart=always
WorkingDirectory=/srv/www/webroot
User=www-data
ExecStart=/path/to/rapid-cron/bin/runner

[Install]
WantedBy=multi-user.target
